<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%- tc('view.sync.edit.parameters') %></h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="alert" style="display: none;"></div>
        <div class="control-group">
            <label class="control-label" for="task-description"><%- tc('model.sync.descriptor.description') %>:</label>
            <div class="controls">
                <input type="text" id="task-description" class="autowidened" data-field="description" value="<%- description %>" maxlength="255" required="required" autofocus="autofocus">
                <div class="help-block font-small"><%- getDefaultHint('description') %></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="parameters-count"><%- tc('view.sync.parameters-count') %>:</label>
            <div class="controls">
                <input type="number" id="parameters-count" data-field="parameters.count" value="<%- parameters.count %>" required="required">
                <div class="help-block font-small"><%- getDefaultHint('parameters.count') %></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="parameters-delay"><%- tc('view.sync.parameters-delay') %>:</label>
            <div class="controls">
                <input type="number" id="parameters-delay" data-field="parameters.delay" value="<%- parameters.delay %>" required="required">
                <div class="help-block font-small"><%- getDefaultHint('parameters.delay') %></div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn pull-left" data-dismiss="modal" data-action="cancel"><%- tc('view.sync.button.cancel') %></button>
    <button class="btn btn-primary pull-right" data-action="save"><%- tc('view.sync.button.save') %></button>
</div>
