<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="width-wrapper">
        <!-- logo -->
        <a href="<%- buildUrl('ROOT') %>" class="brand" data-local="true"></a>

        <!-- navigation -->
        <ul class="nav">

            <% _.each(navigation, function(item) { %>
                <li class="<% item.active ? 'active' : '' %>" data-name="<%- item.name %>">
                    <a id="header-link-<%- item.name %>" href="<%= absolute(item.url) %>" data-local="true">
                        <%- t('view.header.' + item.name) %>
                    </a>
                </li>
            <% }); %>

        </ul>
        <div data-region="notifications"></div>
        <div data-region="alerts"></div>

        <!-- authentication menu -->
        <ul class="nav authentication">
            <li class="username">
                <div><%- username %></div>
            </li>
            <li>
                <a id="header-link-logout" href="<%= buildUrl('LOGOUT') %>"><%- t('view.header.logout') %></a>
            </li>
        </ul>

        </div>
    </div>
</nav>