<header>
    <div class="buttons">
        <button type="button" class="btn flat" data-action="cancel" title="<%- tc('view.recodes.button.cancel') %>"><%- tc('view.recodes.button.cancel') %></button>
    </div>
    <h3><i class="icon-24 recodes"></i><%- tc('view.recodes.new.title') %></h3>
</header>
<h4><%- tc('view.recodes.new.select') %></h4>
<div class="searchbar in-page">
    <div class="input-wrapper">
        <input type="text" data-field="filter" placeholder="<%- tc('view.records.filter.placeholder') %>">
    </div>
    <i class="icon-16 search"></i>
    <i class="icon-16 clear"></i>
</div>
<ul class="groups"></ul>