#set($prefix = "#if($scope)${scope}_#end")
# Driver settings
jdbc.driverClassName = ${${prefix}storage.jdbc.driverClassName}
jdbc.url = ${${prefix}storage.jdbc.url}
# Connection settings
jdbc.username = ${${prefix}storage.jdbc.username}
jdbc.password = ${${prefix}storage.jdbc.password}
jdbc.properties = ${${prefix}storage.jdbc.properties}
# Validate settings
jdbc.validationQuery = ${${prefix}storage.jdbc.validationQuery}
# Pool settings
jdbc.initialSize = ${storage.jdbc.initialSize}
jdbc.maxIdle = ${storage.jdbc.maxIdle}
jdbc.maxActive = ${storage.jdbc.maxActive}
jdbc.maxWait = ${storage.jdbc.maxWait}
jdbc.testOnBorrow = ${storage.jdbc.testOnBorrow}
jdbc.testWhileIdle = ${storage.jdbc.testWhileIdle}
jdbc.autoCommit = ${storage.jdbc.autoCommit}
