<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${jboss.server.log.dir}/${web.path.context}.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="immediateFlush" value="${log4j.immediateFlush}"/>
        <param name="bufferedIO" value="${log4j.bufferedIO}"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM.yyyy/HH:mm:ss} [%p] (%C{1}) %m%n"/>
        </layout>
    </appender>

    <appender name="AUTH" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${jboss.server.log.dir}/${web.path.context}-auth.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p] %m%n"/>
        </layout>
    </appender>

    <appender name="SOAP_TRACE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${jboss.server.log.dir}/${web.path.context}-soap-trace.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <logger name="org.apache">
        <level value="ERROR"/>
    </logger>

    <!--
        <logger name="org.apache.cxf" additivity="false">
            <level value="INFO"/>
            <appender-ref ref="SOAP_TRACE"/>
        </logger>
    -->

    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>

    <logger name="org.springframework.security">
        <level value="ERROR"/>
    </logger>

    <logger name="com.googlecode.flyway.core.migration.sql.SqlStatement">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.dozer">
        <level value="ERROR"/>
    </logger>

    <logger name="org.hibernate">
        <level value="ERROR"/>
    </logger>

    <logger name="org.aopalliance">
        <level value="ERROR"/>
    </logger>

    <logger name="AspectJ Weaver">
        <level value="ERROR"/>
    </logger>

    <logger name="ru.hflabs.rcd.security.event.AuthenticationEventListener" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="AUTH"/>
    </logger>

    <logger name="ru.hflabs">
        <level value="INHERITED"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
