<header class="page-main-header clearfix">
    <i class="icon-64 group"></i>
    <h1>
        <button type="button" class="btn flat" data-action="add"><i class="icon-glyph add"></i> <%- tc('view.groups.page.add') %></button>
        <div class="searchbar">
            <div class="input-wrapper">
                <input type="text" data-field="filter" placeholder="<%- tc('view.filter.placeholder') %>">
            </div>
            <span class="search"><i class="icon-20 compact search interactive"></i></span>
        </div>
        <%- t('view.groups.page.title') %>
    </h1>
</header>
<section data-region="groups"></section>
<div data-region="popups"></div>